name: Check documentation
on: [push, pull_request]
jobs:
  docs:
    name: Build documentation & check links
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: uv sync --all-extras
      - name: Build documentation
        run: uv run nox --force-color --session=docs
      - uses: actions/upload-artifact@v5
        with:
          name: docs
          path: source/_build
      - name: Check links
        run: uv run nox --force-color --session=linkcheck
